<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Unlock Your Health Potential</h1>
            <p>Experience personalized food and exercise recommendations tailored to your unique goals and lifestyle.</p>
            <div class="btn-group">
                <a href="/about" class="btn btn-secondary" style="cursor:pointer;">Explore Plans</a>
                <a href="/food_recommendation" class="btn" style="cursor:pointer;">Get Started</a>
            </div>
        </div>
    </div>
</section>
